<!--The content below is only a placeholder and can be replaced.-->
caca
<!--<div libFsList #fsList="fsList" [path]="'proyectos'">-->
<!--  <p *ngFor="let proyecto of fsList.data | async"> {{proyecto.nombre}}</p>-->
<!--</div>-->

<div libFsDoc #fsDoc="fsDoc" [path]="'proyectos/5yhoPhDcTj2SwrI2x4aH'">
  {{(fsDoc.data | async)?.nombre}}
</div>

<lib-login (onLogin)="onLogin($event)"></lib-login>
<div *ngIf="userLogin">{{userLogin | json}}</div>

<lib-registry (onRegistry)="onRegistry($event)"></lib-registry>
<div *ngIf="userLogin">{{userRegistry | json}}</div>
